body{
	position: relative;
	perspective: 1000px;
	background-color: white;
	min-width: 900px;
	font-family: apple-system,system-ui,BlinkMacSystemFont,Roboto,Arial,sans-serif;
}

a:link{
	text-decoration: none;
}

.Logo{
	height: 30px;
	width: 77px;
}

.navbar{
	height: 90px;
	margin-right: 15%;
	margin-left: 15%;
}

.menu{
	display: inline-block;
	list-style: none;
	float: right;
}

.elem_menu{
	display: inline-block;
	width: 100px;
	padding: 10px;
	text-align: center;
}

.elem_menu a{
	color: #72727D;
}

.elem_menu a:hover{
	color: black;
}

h1{
	text-align: center;
	font-size: 50px;
}

h2{
	text-align: center;
	color: #92929C;
}

.adresse{
	border-radius: 15px;
	padding: 10px 30px;
	width: 300px;
	border: none;
	box-shadow: 1px 1px 40px -15px rgba(0,0,0,0.75);
}

.button1{
	border-radius: 15px;
	background-color: #5168EC;
	color: white;
	padding: 10px 30px;
	border: none;
	box-shadow: 1px 1px 40px -15px rgba(0,0,0,0.75);
	position: absolute;
	margin-left: -5%;
}

.button1:hover{
	opacity: .5;
	cursor: pointer;
}

.imagegauche{
	position: absolute;
	max-width: 15%;
}

.imagecentre{
	max-width: 70%;
}

.imagedroite{
	position: absolute;
	max-width: 12%;
	margin-left: 88.5%;
}
/* Premiere explications*/

.imageclic{
	margin-left: 10%;
}
.clic1{
	z-index: 4; 
	margin-top: 10%;
	position: absolute;
	max-width: 30%;
	box-shadow: 1px 1px 40px -15px rgba(0,0,0,0.75);
}

.clic2{
	z-index: 3;
	margin-top: 5%;
	position: absolute;
	max-width: 30%;
	box-shadow: 1px 1px 40px -15px rgba(0,0,0,0.75);
}

.clic3{
	z-index: 2;
	position: absolute;
	max-width: 30%;
	box-shadow: 1px 1px 40px -15px rgba(0,0,0,0.75);
}

.clic1:hover{
	z-index: 6;
	transform: scale(1.2);
}

.clic2:hover{
	z-index: 6;
	transform: scale(1.2);
}

.clic3:hover{
	z-index: 6;
	transform: scale(1.2);
}

.para{
	float: right;
}

.para h3{
	font-size: 20px;
}

.imageCarre{
	border-radius: 60px;
	width: 10%;
	margin-top: 5%;
	margin-left: 30%;
}

.notes{
	width: 200px;
	padding: 5px 10px;
	margin: 5px 5px 5px 5px;
	border-radius: 5px;
	box-shadow: 1px 1px 40px -15px rgba(0,0,0,0.75);
}

.imageNote{
	float: left;
	margin: 4px 4px 4px 4px;
	max-width: 10%;
}

.notes h4{
	text-align: center;
}

.notes p{
	display: none;
}

.notes:active p{
	display: inline;
}

.notes:active{
	background-color: #F5F7FF;
	max-height: 100%;
}

.wiki{
	width: 200px;
	padding: 5px 10px;
	margin: 5px 5px 5px 5px;
	border-radius: 5px;
	box-shadow: 1px 1px 40px -15px rgba(0,0,0,0.75);
}

.imageWiki{
	float: left;
	margin: 4px 4px 4px 4px;
	max-width: 10%;
}

.wiki h4{
	text-align: center;
}

.wiki p{
	display: none;
}

.wiki:active p{
	display: inline;
}

.wiki:active{
	background-color: #F5F7FF;
	max-height: 100%;
}

.tasks{
	width: 200px;
	padding: 5px 10px;
	margin: 5px 5px 5px 5px;
	border-radius: 5px;
	box-shadow: 1px 1px 40px -15px rgba(0,0,0,0.75);
}

.imageCase{
	float: left;
	margin: 4px 4px 4px 4px;
	max-width: 10%;
}

.tasks h4{
	text-align: center;
}

.tasks p{
	display: none;
}

.tasks:active p{
	display: inline;
}

.tasks:active{
	background-color: #F5F7FF;
	max-height: 100%;
}
/*Suite avec profile*/
.textesuite1{
	display: inline-block;
	margin-top: 50%;
	max-width: 20%;
	margin-left: 25%;
}

.textesuite1 p:nth-child(1){
	font-size: 30px;
}

.textesuite1 p:nth-child(2){
	color: #72727D;
}

.imageperso1{
	border-radius: 60px;
	position: absolute;
	width: 7%;
	margin-top: 55%;
	margin-left: 10%;
	z-index: 5;
}

.Caseperso1{
	position: absolute;
	width: 30%;
	background-color: #F5F7FF;
	border-radius: 15px;
	box-shadow: 1px 1px 40px -15px rgba(0,0,0,0.75);
	text-align: center;
	margin-left: 60%;
	margin-top: -10%;
	z-index: 3;
}

.imageperso2{
	border-radius: 60px;
	position: absolute;
	width: 8%;
	margin-top: 73%;
	margin-left: -33%;
	z-index: 5;
}

.Caseperso2{
	position: absolute;
	width: 30%;
	background-color: #F5F7FF;
	border-radius: 15px;
	box-shadow: 1px 1px 40px -15px rgba(0,0,0,0.75);
	text-align: center;
	margin-top: 5%;
	margin-left: 15%;
	z-index: 3;
}

.textesuite2{
	display: inline-block;
	margin-top: 5%;
	max-width: 20%;
	margin-left: 60%;
}

.textesuite2 p:nth-child(1){
	font-size: 30px;
}

.textesuite2 p:nth-child(2){
	color: #72727D;
}

.textesuite3{
	display: inline-block;
	margin-top: 5%;
	max-width: 20%;
	margin-left: 20%;
}

.textesuite3 p:nth-child(1){
	font-size: 30px;
}

.textesuite3 p:nth-child(2){
	color: #72727D;
}

.imageperso3{
	border-radius: 60px;
	position: absolute;
	width: 8%;
	margin-top: 10%;
	margin-left: 15%;
	z-index: 5;
}

.Caseperso3{
	position: absolute;
	width: 30%;
	background-color: #F5F7FF;
	border-radius: 15px;
	box-shadow: 1px 1px 40px -15px rgba(0,0,0,0.75);
	text-align: center;
	margin-top: -10%;
	margin-left: 60%;
	z-index: 3;
}

.inteband{
	margin-top: 5%;
	height: 400px;
	background-color: #71d1dc;
}

.inteband p:nth-child(1){
	position: absolute;
	font-size: 15px;
	margin-left: 30%;
	margin-top: 10%;
	color: white;
}

.inteband p:nth-child(2){
	position: absolute;
	font-size: 30px;
	margin-top: 12%;
	margin-left: 30%;
	color: white;
}

.button2{
	margin-left: 30%;
	margin-top: 15%;
	padding: 10px 30px;
	border-radius: 15px;
	border: none;
	box-shadow: 1px 1px 40px -15px rgba(0,0,0,0.75);
	color: #71d1dc;
}

.button2:hover{
	opacity: .5;
	cursor: pointer;
}

.inteimage{
	position: absolute;
	margin-left: 20%;
	margin-top: 5%;
	height: 10%;
}