body{
	position: relative;
	perspective: 1000px;
	background-color: white;
	min-width: 900px;
	font-family: apple-system,system-ui,BlinkMacSystemFont,Roboto,Arial,sans-serif;
}

a:link{
	text-decoration: none;
}

.Logo{
	height: 30px;
	width: 77px;
}

.navbar{
	height: 90px;
	margin-right: 15%;
	margin-left: 15%;
}

.menu{
	display: inline-block;
	list-style: none;
	float: right;
}

.elem_menu{
	display: inline-block;
	width: 100px;
	padding: 10px;
	text-align: center;
}

.elem_menu a{
	color: #72727D;
}

.elem_menu a:hover{
	color: black;
}

h1{
	text-align: center;
	font-size: 50px;
}

h2{
	text-align: center;
	color: #92929C;
}

.adresse{
	border-radius: 15px;
	padding: 10px 30px;
	width: 300px;
	border: none;
	box-shadow: 1px 1px 40px -15px rgba(0,0,0,0.75);
}

.button1{
	border-radius: 15px;
	background-color: #5168EC;
	color: white;
	padding: 10px 30px;
	border: none;
	box-shadow: 1px 1px 40px -15px rgba(0,0,0,0.75);
	position: absolute;
	margin-left: -5%;
}

.imagegauche{
	position: absolute;
	max-width: 15%;
}

.imagecentre{
	max-width: 70%;
}

.imagedroite{
	position: absolute;
	max-width: 12%;
	margin-left: 88.5%;
}
